{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Era's Network {% block title %} {% endblock %} </title>
    <link rel="icon" href="{% static 'dist/img/favicon.png' %}" type="image/png">
    <!-- CSS files -->
    <link href="{% static 'dist/css/tabler.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/demo.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'dist/css/jquery-confirm.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'dist/css/inter.css' %}">
    
    <style>
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
      #toastBar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px;
        text-align: center!important;
        z-index: 9999;
      }
      .card-header{
        padding: 10px!important;
      }
      .card-title{ font-weight: bold;}
      .page-header{
        min-height: 0!important;
      }
    </style>
    {% block style %} {% endblock %}
    <script src="{% static 'dist/js/jquery.min.js' %}"></script>
    <script src="{% static 'dist/js/tabler.min.js' %}" defer></script> 
    <script src="{% static 'dist/js/demo.min.js' %}" defer></script>
    <script src="{% static 'dist/js/jquery-confirm.min.js' %}" defer></script>
    {% if messages %}
    {% for message in messages %}
    <script>
        $(document).ready(function () {
          openToaster("{{ message.tags }}", "{{ message }}");
        });
    </script>
    {% endfor %}
    {% endif %} 
  <script>
    // ************Toaster************
    function openToaster(toastType, message) {
      $("#toastBar").css("display", "block");
      $("#message").html(message);
      $("#toastBar").attr('class','').addClass('alert alert-important alert-dismissible');
      if (toastType == "success") {
        $("#toastBar").addClass("alert-success");
      } else if (toastType == "warning") {
        $("#toastBar").addClass("alert-warning");
      } else if (toastType == "info" || toastType == 'success alert-success') {
        $("#toastBar").addClass("alert-info");
      } else if (toastType == "danger" || toastType == 'success alert-danger') {
        $("#toastBar").addClass("alert-danger");
      }
      $("#toastBar").show().delay(2000).fadeOut();
    };
    function closeToaster(){
      $("#toastBar").hide();
    }
    </script>
  </head>
  <body  class=" layout-fluid">
    <script src="{% static 'dist/js/demo-theme.min.js' %}"></script>
    <div class="alert alert-important alert-dismissible" role="alert" id="toastBar" style="display: none;">
        <div class="d-flex">
          <div>
            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
          </div>
          <div id="message">
          
          </div>
        </div>
        <a href="javascript:void(0)" onclick="closeToaster()" class="btn-close" aria-label="close"></a>
      </div>
    <div class="page">
      <!-- Navbar -->
      <div class="sticky-top">
          {% include 'partial/navigation.html' %}
        </div>  
      <div class="page-wrapper">
        {% block content %} {% endblock %}
        {% include 'partial/footer.html' %}
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg" id="modal-report" role="document">
         
        </div>
    </div>
    
    {% block script %} 
    
    {% endblock %} 
  </body>
</html>